# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Virtual Environment
venv/
env/
.venv/

# VS Code
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment Variables
.env

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Build and Dist
build/
dist/
*.egg-info/
.eggs/

# Cache
*.cache
.cache/
resource/db/
resource/srd/
resource/chroma_db/